@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Web Comments Section</h1>
        <p>Please let us know, how are you doing!</p>

        <br /><br />
        <h4>Your message</h4>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Comment.Name" class="control-label">Name</label>
            <input type="text" asp-for="Comment.Name" class="form-control" />
            <span asp-validation-for="Comment.Name" class="text-danger"></span>
            <br />
            <label asp-for="Comment.Message" class="control-label">Message</label>
            <input type="text" asp-for="Comment.Message" class="form-control" />
            <span asp-validation-for="Comment.Message" class="text-danger"></span>
            <br />
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>

        <br /><br />
        <div id="comments-section">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="4"><h4>Comments</h4></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Comments) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Message)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Timestamp)
                            </td>
                            <td>
                                Like it<br />
                                <img src="~/lib/images/star-empty.png" alt="" class="ratingStar" data-value="1" />
                                <img src="~/lib/images/star-empty.png" alt="" class="ratingStar" data-value="2" />
                                <img src="~/lib/images/star-empty.png" alt="" class="ratingStar" data-value="3" />
                                <img src="~/lib/images/star-empty.png" alt="" class="ratingStar" data-value="4" />
                                <img src="~/lib/images/star-empty.png" alt="" class="ratingStar" data-value="5" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
