@page
@model IndexModel
@{
    ViewData["Title"] = "Web Comments";
    // this.Model - konkretna instancja Index Model
    // każdy request tworzy nową instancję klasy Index Model
    // Async, await - odciąża serwer
}

    <div class="text-center">
        <h1 class="display-4">Web Comments Section</h1>
        <p>Please let us know, how are you doing!</p>

        <br /><br />
        <h4>Your message</h4>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Comment.Name" class="control-label">Name</label>
            <input type="text" asp-for="Comment.Name" class="form-control" />
            <span asp-validation-for="Comment.Name" class="text-danger"></span>
            <br />
            <label asp-for="Comment.Message" class="control-label">Message</label>
            <input type="text" asp-for="Comment.Message" class="form-control" />
            <span asp-validation-for="Comment.Message" class="text-danger"></span>
            <br />
            <label asp-for="Comment.Rating" class="control-label">Rating - click to choose yours</label>
            <input id="rating" type="hidden" asp-for="Comment.Rating" class="form-control" value="0" />
            <span asp-validation-for="Comment.Rating" class="text-danger"></span>
            <br />

            @for (int star = 0; star < 5; star++) {
                <img src="~/lib/images/star-empty.png" alt="" class="ratingStar" />
            }
            <br /><br />
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>

        <br /><br />
        <div id="comments-section">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="4"><h4>Comments</h4></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Comments) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Message)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Timestamp)
                            </td>
                            <td>
                                @if (item.Rating == 0) {
                                    for (int star = 0; star < 5; star++) {
                                        <img src="~/lib/images/star-empty.png" alt="" class="ratingStarDisplay" />
                                    }
                                } else {
                                    for (int star = 0; star < item.Rating; star++) {
                                        <img src="~/lib/images/star-yellow.png" alt="" class="ratingStarDisplay" />
                                    }
                                    for (int star = 0; star < (5 - item.Rating); star++) {
                                        <img src="~/lib/images/star-empty.png" alt="" class="ratingStarDisplay" />
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
